<!DOCTYPE html>
<html lang="en">

<!-- <head> 태그 내 공통된 stylesheets 분리 -->
<head th:replace="~{stylesheets/head :: head (title='상품 상세')}"></head>

<link href="/assets/css/product-details.css" rel="stylesheet">

<body class="index-page">

<!-- 헤더 레이아웃 분리 -->
<header th:replace="~{layout/header::header}"></header>

<!-- 메인 부분 -->
<main class="main text-center">
  <div class="main-section">
    <section id="testimonials" class="testimonials section">
      <div class="container">
        <div class="row gy-4">
          <div id="product-detail" class="col-lg-5">
            <h1 th:text="${product.productName}" class="main-title"></h1>
            <input type="hidden" class="productId" th:value="${product.productId}">
            <div class="category-section mt-4">
              <div>
                <p class="product-title">분류</p>
              </div>
              <p th:text="${product.topCategory} + ' > ' + ${product.subCategory}"></p>
            </div>
            <div class="rating-average-section mt-4">
              <div>
                <p class="product-title">별점 평균</p>
              </div>
              <div class="stars-taste">
                <p class="title-taste">맛</p>
                <div th:each="num:${#numbers.sequence(1,5)}" class="stars">
                  <i th:if="${product.averageRatingTaste >= num}" class="bi bi-star-fill"></i>
                  <i th:if="${product.averageRatingTaste > num - 1 and product.averageRatingTaste < num}" class="bi bi-star-half"></i>
                  <i th:unless="${product.averageRatingTaste >= num or product.averageRatingTaste > num - 1}" class="bi bi-star"></i>
                </div>
                <p class="score-taste" th:text="${product.averageRatingTaste}">점</p>
              </div>
              <div class="stars-price">
                <p class="title-price">가격</p>
                <div th:each="num:${#numbers.sequence(1,5)}" class="stars">
                  <i th:if="${product.averageRatingPrice >= num}" class="bi bi-star-fill"></i>
                  <i th:if="${product.averageRatingPrice > num - 1 and product.averageRatingPrice < num}" class="bi bi-star-half"></i>
                  <i th:unless="${product.averageRatingPrice >= num or product.averageRatingPrice > num - 1}" class="bi bi-star"></i>
                </div>
                <p class="score-price" th:text="${product.averageRatingPrice}">점</p>
              </div>
            </div>
          </div>
          <div id="review-section" class="col-lg-7">
            <div class="review-select d-flex justify-content-between">
              <select id="review-sort">
                <option value="createDt,DESC">최신순</option>
                <option value="ratingTaste,DESC">맛 별점 높은순</option>
                <option value="ratingPrice,DESC">가격 별점 높은순</option>
              </select>
              <div>
                <button type="button" class="btn-write">리뷰작성</button>
              </div>
            </div>
            <section id="blog-pagination" class="blog-pagination section">
              <div class="container">
                <div class="d-flex justify-content-center mt-5 pagination-container">
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="modal" id="review-detail" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">리뷰 상세</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" class="review-id" data-review-id="0">
          <div class="reviewImage-modal d-flex gap-2"></div>
          <div class="reviewContent-modal">
            <div class="content-1 mt-2">
              <div class="rating-modal d-flex gap-2">
                <p>맛</p>
                <div class="stars"></div>
                <p>가격</p>
                <div class="stars"></div>
              </div>
              <div class="writerProfile-modal d-flex gap-2">
                <div class="writerImage-modal"></div>
                <p>작성자1</p>
              </div>
            </div>
            <div class="content-2 mt-3">
              <p>리뷰 내용입니다.</p>
              <p class="location-modal my-2"><span>세븐일레븐 혜화역점</span>에서 구매했어요!</p>
            </div>

            <div class="line"></div>

            <p class="text-start my-2 text-start fw-bolder">댓글</p>
            <div class="content-3"></div>

            <div th:if="${#authorization.expression('isAuthenticated()')}" class="comment-input mt-2">
              <input type="text" placeholder="댓글을 입력해주세요" maxlength="150">
              <div class="comment-buttons">
                <button type="button" class="btn-comment">등록</button>
                <button type="button" class="btn-comment-update" style="display: none;">저장</button>
                <input type="hidden" class="update-comment-id" value="0">
                <button type="button" class="btn-comment-undo">취소</button>
              </div>
            </div>
          </div>
          <div class="mb-3 product-search">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- footer 레이아웃 분리 -->
<footer th:replace="~{layout/footer::footer}"></footer>

<!-- 공통 script 분리 -->
<div th:replace="~{scripts/scripts::scripts}"></div>

<script type="module" src="/assets/js/product-detail.js"></script>
</body>
</html>