<!DOCTYPE html>
<html lang="en">

  <!-- <head> 태그 내 공통된 stylesheets 분리 -->
  <head th:replace="~{stylesheets/head :: head (title='제품 검색')}"></head>

  <link href="/assets/css/product.css" rel="stylesheet">

  <body class="index-page">
    <header th:replace="~{layout/header::header}"></header>
    <main class="main text-center">
      <div class="main-section">
        <p class="main-title">제품 검색</p>
        <div class="newsletter-form main-searchform">
          <input type="text" name="productName" placeholder="원하는 제품명을 입력해주세요. ex) 이클립스">
          <i class="fa-solid fa-magnifying-glass btn-search"></i>
        </div>
        <section id="services" class="services section">
          <div class="container">
            <div class="row gy-4 result-section"></div>
          </div>
        </section>
      </div>
    </main>

    <!-- footer 레이아웃 분리 -->
    <footer th:replace="~{layout/footer::footer}"></footer>

    <!-- 공통 script 분리 -->
    <div th:replace="~{scripts/scripts::scripts}"></div>

    <script src="/assets/js/product.js"></script>

  </body>
</html>