/**
********************************
* 파일명    : init.css
* 작성자    : audrey
* 작성일    : 2025-02-03
* 설명      : 공통 css 적용사항
* 사용법    : <link href="assets/css/init.css" rel="stylesheet">
* 수정 이력 :
*   - 2025-02-03: 최초 작성
********************************
**/

@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Noto Sans KR", sans-serif !important ;
}

p {
    margin-bottom: 0 !important;
}

.logo img:last-child {
    display: none;
}

@media (min-width: 1200px) {
    .navmenu p {
        padding: 18px 15px;
        font-size: 15px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }
}

@media (max-width: 1199px) {
    .navmenu p {
        padding: 10px 20px;
        font-size: 17px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }
}

@media (max-width: 1024px) {
    .header .logo img {
        height: 28px;
    }
}

@media (max-width: 425px) {

    .logo img:first-child {
        display: none;
    }

    .logo img:last-child {
        display: inline;
    }

}