/* 메인화면 */
.main {
    padding: 20vh 0 25vh 0;
}

.main-section {
    display: flex;
    justify-content: center;
}

/* 로그인 폼 */
.login-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* 로그인 제목 */
.login-title {
    font-size: 32px;
    font-weight: 600;
}

/* 로그인 input */
.login-id-input,
.login-pw-input {
    width: 320px;
}

/* 회원가입 */
.login-submenu {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

/* 로그인 버튼 */
.btn-login {
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
    background: #d9232d;
    color: white;
    font-size: 14px;
}

/* 로그인 안내 문구 */
.login-label {
    font-size: 0.8rem;
    color: red;
}

@media screen and (max-width: 768px) {

    .login-title {
        font-size: 20px;
    }

    .login-id-input,
    .login-pw-input {
        width: 210px;
        height: 35px;
    }

    .login-section input {
        font-size: 12px;
    }

    .login-submenu {
        font-size: 10px;
    }

    .btn-login {
        width: 60px;
        height: 25px;
        font-size: 11px;
        padding: 0;
    }
}