.main {
    padding: 0 5vh;
    min-height: 70vh;
}

.main-section {
    display: flex;
    flex-direction: column;
}

.main-title {
    font-size: 2rem;
    font-weight: 900;
}

.main-searchform > input{
    width: 40%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border: 1px solid #ADADAD;
    border-radius: 0.5rem;
    outline: none;
}

.btn-search {
    cursor: pointer;
}

#product-detail *{
    text-align: justify;
}

.product-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.category-section > div, .rating-average-section > div:first-child {
    border-left: 2px solid #ADADAD;
    padding-left: 0.5rem;
}

.stars-taste, .stars-price {
    display: flex;
    gap: 0.7rem;
}

.title-taste, .title-price {
    width: 10%;
}

.score-taste, .score-price {
    margin-left: 1rem;
}

.rating-average-section i {
    font-size: 1.4rem;
}

.rating-average-section p {
    align-content: center;
}

.rating-average-section .stars-taste
, .rating-average-section .stars-price {
    gap: 0.2rem;
}

#review-sort {
    padding: 0.2rem 0.3rem;
    outline: none;
    border: 1px solid #ADADAD;
    border-radius: 0.5rem;
    color: #5E5E5E;
}

.testimonial-item {
    text-align: justify;
    padding: 1rem 0.8rem 0.7rem 1.3rem !important;
}

.testimonials .testimonial-item p {
    font-size: 0.7rem;
    font-style: normal;
}

.testimonials .testimonial-item .stars {
    margin: 0;
}

.writer-profile {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.writer-name {
    align-content: center;
    padding-bottom: 0.5rem;
    margin: 0 !important;
}

.writer-image img {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    object-fit: cover;
}

.review-main {
    display: flex;
    gap: 4%;
}

.review-image {
    width: 100px;
    height: 100px;
}

.review-image img {
    width: 90%;
    height: 90%;
}

.content-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.review-content {
    min-height: 30%;
}

.rating {
    display: flex;
    gap: 0.5rem;
}

.rating > * {
    align-content: center;
}

.rating-modal .stars {
    display: flex;
    gap: 0.2rem;
}

.review-location > span {
    color: #d9232d;
}

.stars i {
    color: #ffc107;
}

.category-section > p, .stars-taste, .stars-price {
    margin-left: 1rem;
}

.btn-write {
    margin-left: auto;
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    background-color: #d9232d;
    color: white;
}

.btn-update {
    margin-left: auto;
    font-size: 1.3rem;
    align-content: end;
    cursor: pointer;
}

.btn-delete {
    font-size: 1.3rem;
    align-content: end;
    cursor: pointer;
}

.reviewImage-modal {
    overflow-x: auto;
}

.modal-body {
    padding: 1rem 1rem 0 !important;
}

.reviewContent-modal {
    max-height: 60vh;
    box-sizing: border-box;
}

.content-2 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    word-break: break-word;
    padding: 0.5rem 0;
    text-align: start;
}

.content-2 p {
    margin: 0;
    line-height: 1.4;
}

.content-2 p:first-child {
    font-size: 1rem;
}

.image {
    background-color: #ADADAD;
    flex-shrink: 0;
    flex-basis: 25%;
    height: 7rem;
}

.image img {
    width: 100%;
    height: 100%;
}

.writerImage-modal {
    border-radius: 50%;
}

.writerProfile-modal {
    margin-bottom: 0.5rem;
}

.writerProfile-modal p {
    align-content: center;
    font-size: 0.7rem;
    margin-right: auto;
}

.writerProfile-modal img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.location-modal {
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.location-modal span {
    color: #D9232d;
}

.content-3 {
    max-height: 15rem;
    text-align: start;
    overflow-y: auto;
}

.comment-modal {
    display: flex;
    gap: 0.7rem;
    padding: 0.7rem 0.7rem;
}

.reply {
    width: 95%;
    margin-left: auto;
}

.comment-input {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
}

.comment-input input {
    flex-grow: 1;
    min-width: 200px;
    max-width: 100%;
    border-radius: 0.5rem;
    outline: none;
    border: 0.5px solid #D4D4D4;
    padding: 0.3rem;
}

@media screen and (max-width: 990px) {

    .image {
        height: 8rem;
    }

    .comment-input input {
        width: 75%;
    }
}

@media screen and (max-width: 575px) {

    .comment-input {
        display: flex;
        gap: 0.3rem;
    }

    .comment-input input {
        width: calc(100% - 110px);
        min-width: 0;
        font-size: 0.8rem;
    }

    .comment-buttons {
        display: flex;
        gap: 0.3rem;
        font-size: 0.8rem;
    }

    .modal-title {
        font-size: 1.1rem;
    }

    .image {
        height: 13vh;
    }

    .content-2 p:first-child {
        font-size: 0.8rem;
    }

    .location-modal {
        font-size: 0.7rem;
        margin-top: 0.2rem;
    }

    .line ~ p {
        margin: 0.3rem 0 0 !important;
    }

    .icon-comment-update, .icon-comment-delete {
        font-size: 0.8rem;
    }
}

.btn-comment {
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
    background-color: #d9232d;
    color: white;
}

.comment-buttons button {
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #d9232d;
    color: white;
}

.btn-comment-undo {
    background-color: #6c757d !important;
}

.comment-writer-section {
    align-content: baseline;
}

.comment-writer img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-profile {
    display: flex;
    gap: 0.7rem;
}

.comment-profile p {
    font-size: 0.6rem;
}

.comment-profile p:last-child {
    color: #B7B7B7;
}

.comment-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment-content > p,
.comment-content > i {
    font-size: 0.8rem;
    align-content: center;
}

.no-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.btn-reply {
    cursor: pointer;
    font-size: 0.7rem;
}

.selected-comment {
    background-color: rgba(217, 35, 45, .1);
    border-radius: 0.7rem;
}

.icon-comment-update,
.icon-comment-delete {
    align-content: center;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .comment-input input {
        font-size: 0.9rem;
    }

    .comment-buttons {
        font-size: 0.9rem;
    }

    .btn-update i,
    .btn-delete i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .content-2 p:first-child {
        font-size: 0.9rem;
    }

    .image {
        height: 7rem;
    }

    .rating-modal * {
        font-size: 0.9rem;
    }

    .content-2 p:first-child {
        font-size: 0.9rem;
    }

    .comment-content > p {
        font-size: 0.7rem;
    }

    .comment-input input {
        font-size: 0.8rem;
    }

    .comment-buttons {
        font-size: 0.8rem;
    }

    .icon-comment-update, .icon-comment-delete {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 425px) {

    .main {
        padding: 0 2vh;
    }

    .main-title {
        font-size: 1.3rem;
    }

    .product-title {
        font-size: 1rem;
    }

    .rating-average-section i {
        font-size: 1.3rem;
    }

    .title-price, .title-taste {
        width: 15%;
    }

    #review-sort {
        font-size: 0.8rem;
        width: 120px;
    }

    .btn-write {
        font-size: 0.8rem;
    }

    .review-main {
        gap: 0.5rem;
    }

    .writer-image img {
        width: 25px;
        height: 25px;
    }

    .writer-name {
        font-size: 0.5rem !important;
    }

    .testimonial-item {
        padding: 0.4rem 0.8rem 0 0.8rem !important;
    }

    .review-image img {
        width: 90px;
        height: 90px;
    }

    .rating {
        margin-bottom: 0.1rem;
    }

    .rating * {
        font-size: 0.6rem;
    }

    .rating h4 {
        font-size: 0.6rem !important;
    }

    .review-content {
        font-size: 0.5rem !important;
        margin-top: 0 !important;
        min-height: 3.5rem !important;
    }

    .review-location {
        font-size: 0.5rem !important;
        margin-top: 0.3rem !important;
    }

    .modal-title {
        font-size: 1.1rem;
    }

    .image {
        height: 5.5rem;
    }

    .comment-profile p {
        font-size: 0.5rem;
    }

    .comment-modal {
        padding: 0.7rem 0;
    }

    .rating-modal * {
        font-size: 0.9rem;
    }

    .writerProfile-modal img {
        width: 25px;
        height: 25px;
    }

    .content-2 p:first-child {
        font-size: 0.8rem;
    }

    .location-modal {
        font-size: 0.6rem;
    }

    .no-comment {
        font-size: 0.7rem;
    }

    .comment-content > p {
        font-size: 0.7rem;
    }

    .btn-reply {
        font-size: 0.6rem;
    }

    .icon-comment-update, .icon-comment-delete {
        font-size: 0.7rem;
    }

    .comment-input input {
        font-size: 0.7rem;
    }

    .comment-buttons {
        display: flex;
        gap: 0.3rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 375px) {

    .comment-title {
        font-size: 0.8rem;
    }

    .writerProfile-modal p {
        font-size: 0.6rem;
    }

    .writerProfile-modal img {
        width: 20px;
        height: 20px;
    }

    .image {
        height: 8vh;
    }

    .rating-modal * {
        font-size: 0.8rem;
    }

    .content-2 p:first-child {
        font-size: 0.7rem;
    }

    .location-modal {
        font-size: 0.6rem;
    }

    .comment-writer img {
        width: 20px;
        height: 20px;
    }

    .comment-modal {
        gap: 0.3rem;
    }

    .comment-content > p {
        font-size: 0.6rem;
    }
}