.main {
    padding: 30vh 0;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-title {
    font-size: 2rem;
    font-weight: 900;
}

.main-searchform > input {
    width: 500px;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border: 1px solid #ADADAD;
    border-radius: 0.5rem;
    outline: none;
    font-size: 15px;
}

.description, .title {
    text-align: justify;
}

.btn-search {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .main-searchform > input {
        width: 380px;
        font-size: 15px;
    }

    .main-title {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 425px) {
    .main-searchform > input {
        width: 300px;
        font-size: 14px;
    }

    .main-title {
        font-size: 1.5rem;
    }
}