/* 메인화면 */
.main {
    min-height: 61rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-title {
    font-size: 2rem;
    font-weight: 900;
    text-align: start;
}

#profile-section {
    text-align: start;
}

.profile-title {
    display: flex;
    gap: 1rem;
}

.profile-image {
    border-radius: 50%;
}

.profile-image img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-nickname {
    font-weight: 700;
    font-size: 1.5rem;
}

/* 프로필 수정하기 버튼 */
.btn-profile-update {
    color: white;
    background: #d9232d;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

.review-count-section span {
    margin-left: 1rem;
}

/* 작성한 리뷰, 작성 댓글 묶음 */
.review-title {
    font-size: 0.8rem;
}
/* 리뷰 아이템들 */

/* 리뷰 아이템 */
.testimonial-item {
    text-align: justify;
    padding: 1rem 0.8rem 0.7rem 1.3rem !important;
}

/* 리뷰 아이템 p */
.testimonials .testimonial-item p {
    font-size: 0.7rem;
    font-style: normal;
}

/* 별 아이콘 */
.testimonials .testimonial-item .stars {
    margin: 0;
}

/* 리뷰 작성자 프로필 */
.writer-profile {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

/* 리뷰 작성자명 */
.writer-name {
    align-content: center;
    padding-bottom: 0.5rem;
    margin: 0 !important;
}

/* 리뷰 작성자 프로필 사진 */
.writer-image img {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    object-fit: cover;
}

/* 리뷰 사진 및 내용 */
.review-main {
    display: flex;
    gap: 4%;
}

.review-image {
    width: 100px;
    height: 100px;
}

.review-image img {
    width: 90%;
    height: 90%;
}

/* 리뷰 내용 폼 */
.content-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.review-content {
    min-height: 30%;
}

/* 별점 */
.rating {
    display: flex;
    gap: 0.5rem;
}

.rating > * {
    align-content: center;
}

.rating-modal .stars {
    display: flex;
    gap: 0.2rem;
}

/* 편의점 위치 */
.review-location > span {
    color: #d9232d;
}

.stars i {
    color: #ffc107;
}

.category-section > p, .stars-taste, .stars-price {
    margin-left: 1rem;
}

/* 리뷰 상세 모달 - 이미지 */
.reviewImage-modal {
    overflow-x: auto;
}

.modal-body {
    padding: 1rem 1rem !important;
}

.reviewContent-modal {
    max-height: 60vh;
    box-sizing: border-box;
}

.content-2 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    word-break: break-word;
    padding: 0.5rem 0;
    text-align: start;
}

.content-2 p {
    margin: 0;
    line-height: 1.4;
}

.content-2 p:first-child {
    font-size: 1rem;
}

.image {
    background-color: #ADADAD;
    flex-shrink: 0;
    flex-basis: 25%;
    height: 7rem;
}

.image img {
    width: 100%;
    height: 100%;
}

/* 리뷰 상세 모달 - 작성자 프로필 사진 */
.writerImage-modal {
    border-radius: 50%;
}

.writerProfile-modal {
    margin-bottom: 0.5rem;
}

/* 리뷰 상세 모달 - 작성자 이름 */
.writerProfile-modal p {
    align-content: center;
    font-size: 0.7rem;
    margin-right: auto;
}

.writerProfile-modal img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.location-modal {
    font-size: 0.8rem;
    margin-top: 0.3rem;
}

.location-modal span {
    color: #D9232d;
}

/* 댓글 영역 */
.content-3 {
    max-height: 15rem;
    text-align: start;
    overflow-y: auto;
}

/* 댓글(원글) 아이템 */
.comment-modal {
    display: flex;
    gap: 0.7rem;
    padding: 0.7rem 0.7rem;
}

/* 댓글(답글) 아이템 */
.reply {
    width: 95%;
    margin-left: auto;
}

.comment-input {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
}

/* 댓글 입력창 */
.comment-input input {
    flex-grow: 1;
    min-width: 200px;
    max-width: 100%;
    border-radius: 0.5rem;
    outline: none;
    border: 0.5px solid #D4D4D4;
    padding: 0.3rem;
}

@media screen and (max-width: 990px) {

    .image {
        height: 7rem;
    }

    .comment-input input {
        width: 75%;
    }
}

@media screen and (max-width: 575px) {

    .comment-input {
        display: flex;
        gap: 0.3rem;
    }

    .comment-input input {
        width: calc(100% - 110px);
        min-width: 0;
        font-size: 0.8rem;
    }

    .comment-buttons {
        display: flex;
        gap: 0.3rem;
        font-size: 0.8rem;
    }

    .modal-title {
        font-size: 1.1rem;
    }

    .content-2 p:first-child {
        font-size: 0.8rem;
    }

    .location-modal {
        font-size: 0.7rem;
        margin-top: 0.2rem;
    }

    .line ~ p {
        margin: 0.3rem 0 0 !important;
    }

    .icon-comment-update, .icon-comment-delete {
        font-size: 0.8rem;
    }
}

/* 댓글 작성 버튼 */
.btn-comment {
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
    background-color: #d9232d;
    color: white;
}

.comment-buttons button {
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #d9232d;
    color: white;
}

.btn-comment-undo {
    background-color: #6c757d !important;
}

/* 댓글 작성자 이미지 영역 */
.comment-writer-section {
    align-content: baseline;
}

.comment-writer img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

/* 댓글 작성자명 및 날짜 */
.comment-profile {
    display: flex;
    gap: 0.7rem;
}

.comment-profile p {
    font-size: 0.6rem;
}

.comment-profile p:last-child {
    color: #B7B7B7;
}

/* 댓글 내용 및 답글 버튼 */
.comment-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comment-content > p,
.comment-content > i {
    font-size: 0.8rem;
    align-content: center;
}

.no-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

/* 답글 작성 아이콘 */
.btn-reply {
    cursor: pointer;
    font-size: 0.7rem;
}

/* 선택한 메시지 */
.selected-comment {
    background-color: rgba(217, 35, 45, .1);
    border-radius: 0.7rem;
}

/* 댓글 수정 아이콘 */
.icon-comment-update,
.icon-comment-delete {
    align-content: center;
    cursor: pointer;
}


/* 리뷰 작성 버튼 */
.btn-check-password {
    border: none;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
    background-color: #d9232d;
    color: white;
}

/* 리뷰 수정 버튼 */
.btn-update {
    margin-left: auto;
    font-size: 1.3rem;
    align-content: end;
    cursor: pointer;
}

/* 리뷰 삭제 버튼 */
.btn-delete {
    font-size: 1.3rem;
    align-content: end;
    cursor: pointer;
}

/* 작성한 리뷰 버튼 */
/* 작성한 댓글 버튼 */
.btn-write-review,
.btn-write-comment {
    cursor: pointer;
}

.selected-menu {
    color: #D9232D;
}

/* 댓글 아이템 */
.comment-item {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: relative;
}

.comment-wrap {
    display: flex;
    justify-content: space-between;
}

.comment-wrap > div:first-child {
    font-size: 0.7rem;
    align-content: center;
}

.comment-content {
    font-size: 0.8rem;
    align-content: center;
}

.comment-buttons {
    display: flex;
    gap: 0.4rem;
}

/* 댓글 수정 란 */
.comment-input {
    width: 100%;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    outline: none;
}

.comment-update-wrap {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.3rem;
}

.btn-comment-save {
    margin-left: auto;
}

.comment-update-wrap button {
    border: none;
    border-radius: 12%;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    background-color: #d9232d;
    color: white;
}

.comment-update-wrap button:last-child {
    background-color: #6c757d;
}

.input-password {
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    outline: none;
}

@media screen and (max-width: 1024px) {

    .btn-update i,
    .btn-delete i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .main-title {
        font-size: 1.7rem;
    }

    .profile-title h3 {
        font-size: 1.4rem;
    }

    #profile-section {
        text-align: center !important;
    }

    .profile-title {
        justify-content: center;
        align-items: center;
    }

    .profile-content {
        margin-bottom: 0.9rem !important;
    }

    #review-section {
        margin-top: 5rem;
    }

    #review-section h3 {
        display: none;
    }

    .review-count-section {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .review-title p {
        font-size: 1rem;
    }

    .review-count-section span {
        margin-left: 0.3rem;
    }

    .content-2 p:first-child {
        font-size: 0.9rem;
    }

    .image {
        height: 7rem;
    }

    .rating-modal * {
        font-size: 0.9rem;
    }

    .comment-title {
        font-size: 0.9rem;
    }

    .content-2 p:first-child {
        font-size: 0.9rem;
    }

    .location-modal {
        font-size: 0.7rem;
    }

    .comment-content > p {
        font-size: 0.7rem;
    }

    .comment-input input {
        font-size: 0.8rem;
    }

    .comment-buttons {
        font-size: 0.8rem;
    }

    .icon-comment-update, .icon-comment-delete {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 425px) {

    .main {
        padding: 0 2vh;
    }

    .main-title {
        display: none;
    }

    .profile-title h3 {
        font-size: 1.4rem;
        margin-bottom: 0 !important;
    }

    .profile-content {
        margin-bottom: 0.5rem !important;
    }

    .profile-image img {
        width: 8rem;
        height: 8rem;
    }

    .profile-nickname {
        font-size: 1.3rem;
    }

    .profile-id {
        font-size: 0.8rem;
    }

    .review-count-section p {
        font-size: 0.8rem;
    }

    #review-section {
        margin-top: 2rem !important;
    }

    .review-title p {
        font-size: 0.8rem;
    }

    .review-main {
        gap: 0.5rem;
    }

    .writer-image img {
        width: 25px;
        height: 25px;
    }

    .writer-name {
        font-size: 0.5rem !important;
    }

    .testimonial-item {
        padding: 0.4rem 0.8rem 0 0.8rem !important;
    }

    .review-image img {
        width: 90px;
        height: 90px;
    }

    .rating {
        margin-bottom: 0.1rem;
    }

    .rating * {
        font-size: 0.6rem;
    }

    .rating h4 {
        font-size: 0.6rem !important;
    }

    .review-content {
        font-size: 0.5rem !important;
        margin-top: 0 !important;
        min-height: 3.5rem !important;
    }

    .review-location {
        font-size: 0.5rem !important;
        margin-top: 0.3rem !important;
    }

    .btn-update i,
    .btn-delete i {
        font-size: 0.8rem;
    }

    .modal-title {
        font-size: 1rem;
    }

    .image {
        height: 5.5rem;
    }

    .comment-profile p {
        font-size: 0.5rem;
    }

    .comment-modal {
        padding: 0.7rem 0;
    }

    .rating-modal * {
        font-size: 0.9rem;
    }

    .writerProfile-modal img {
        width: 25px;
        height: 25px;
    }

    .content-2 p:first-child {
        font-size: 0.8rem;
    }

    .location-modal {
        font-size: 0.6rem;
    }

    .no-comment {
        font-size: 0.7rem;
    }

    .comment-content > p {
        font-size: 0.7rem;
    }

    .comment-writer img {
        width: 20px;
        height: 20px;
    }

    .btn-reply {
        font-size: 0.6rem;
    }

    .icon-comment-update, .icon-comment-delete {
        font-size: 0.7rem;
    }

    .comment-input input {
        font-size: 0.7rem;
    }

    .comment-buttons {
        display: flex;
        gap: 0.3rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 375px) {

    .modal-title {
        font-size: 0.8rem;
    }

    .comment-title {
        font-size: 0.8rem;
    }

    .writerProfile-modal p {
        font-size: 0.6rem;
    }

    .writerProfile-modal img {
        width: 20px;
        height: 20px;
    }

    .image {
        height: 8vh;
    }

    .rating-modal * {
        font-size: 0.8rem;
    }

    .content-2 p:first-child {
        font-size: 0.7rem;
    }

    .location-modal {
        font-size: 0.6rem;
    }

    .comment-writer img {
        width: 20px;
        height: 20px;
    }

    .comment-modal {
        gap: 0.3rem;
    }

    .comment-content > p {
        font-size: 0.6rem;
    }
}
