/* 메인화면 */
.main {
    min-height: 61rem;
}

/* 타이틀 + 검색폼 */
.main-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* 한눈에 보는 리뷰들 */
.main-title {
    font-size: 2rem;
    font-weight: 900;
    text-align: start;
}

#profile-section {
    text-align: start;
}

.profile-title {
    display: flex;
    gap: 1rem;
}

.profile-image {
    border-radius: 50%;
}

.profile-image img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-nickname {
    font-weight: 700;
    font-size: 1.5rem;
}

/* 프로필 수정하기 버튼 */
.btn-profile-update {
    color: white;
    background: #d9232d;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

.review-count-section span {
    margin-left: 1rem;
}

/* 작성한 리뷰, 작성 댓글 묶음 */
.review-title {
    font-size: 0.8rem;
}
/* 리뷰 아이템들 */

/* 리뷰 아이템 */
.testimonial-item {
    text-align: justify;
    padding: 1rem 0.8rem 0.7rem 1.3rem !important;
}

/* 리뷰 아이템 p */
.testimonials .testimonial-item p {
    font-size: 0.7rem;
    font-style: normal;
}

/* 별 아이콘 */
.testimonials .testimonial-item .stars {
    margin: 0;
}

/* 리뷰 작성자 프로필 */
.writer-profile {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

/* 리뷰 작성자명 */
.writer-name {
    align-content: center;
    padding-bottom: 0.5rem;
    margin: 0 !important;
}

/* 리뷰 작성자 프로필 사진 */
.writer-image img {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    object-fit: cover;
}

/* 리뷰 사진 및 내용 */
.review-main {
    display: flex;
    gap: 4%;
}

.review-image {
    width: 100px;
    height: 100px;
}

.review-image img {
    width: 90%;
    height: 90%;
}

/* 리뷰 내용 폼 */
.content-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* 별점 */
.rating {
    display: flex;
    gap: 0.5rem;
}

.rating > * {
    align-content: center;
}

/* 구분선 */
.line {
    border-bottom: 1px solid #ADADAD;
}

/* 편의점 위치 */
.review-location > span {
    color: #d9232d;
}

.stars i {
    color: #ffc107;
}

.category-section > p, .stars-taste, .stars-price {
    margin-left: 1rem;
}

/* 리뷰 작성 버튼 */
.btn-write {
    margin-left: auto;
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    background-color: #d9232d;
    color: white;
}

/* 리뷰 수정 버튼 */
.btn-update {
    margin-left: auto;
    font-size: 1.3rem;
    align-content: end;
    cursor: pointer;
}

/* 리뷰 삭제 버튼 */
.btn-delete {
    font-size: 1.3rem;
    align-content: end;
    cursor: pointer;
}

/* 작성한 리뷰 버튼 */
/* 작성한 댓글 버튼 */
.btn-write-review,
.btn-write-comment {
    cursor: pointer;
}

.selected-menu {
    color: #D9232D;
}

/* 댓글 아이템 */
.comment-item {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: relative;
}

.comment-wrap {
    display: flex;
    justify-content: space-between;
}

.comment-wrap > div:first-child {
    font-size: 0.7rem;
    align-content: center;
}

.comment-content {
    font-size: 0.8rem;
    align-content: center;
}

.comment-buttons {
    display: flex;
    gap: 0.4rem;
}

/* 댓글 수정 란 */
.comment-input {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    outline: none;
}

.comment-update-wrap {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.3rem;
}

.btn-comment-save {
    margin-left: auto;
}

.comment-update-wrap button {
    border: none;
    border-radius: 12%;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    background-color: #d9232d;
    color: white;
}

.comment-update-wrap button:last-child {
    background-color: #6c757d;
}