/* 메인화면 */
.main {
    padding: 10vh 0;
}

/* 타이틀 + 검색폼 */
.main-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* 제목 */
.main-title {
    font-size: 2rem;
    font-weight: 900;
}

/* 검색폼 input*/
.main-searchform > input{
    width: 40%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-width: 0;
    border: 1px solid #ADADAD;
    border-radius: 0.5rem;
    outline: none;
}

/* 검색버튼 */
.btn-ProductSearch, .btn-LocationSearch {
    align-content: center;
    cursor: pointer;
}

/* 리뷰 작성 오른쪽 */
/*#review-write *{*/
/*  text-align: justify;*/
/*}*/

/* 제목 */
.main-title {
    text-align: justify;
}

/* 제품 검색 */
.select-product {
    display: flex;
    gap: 0.4rem;
}

/* 제품 검색 및 돋보기 버튼 */
.select-product > p, .select-product > i {
    align-content: center;
}

/* 제품 검색란 */
.select-product > input {
    width: 70%;
}

.review-category {
    display: none;
}

/* 분류 */
.review-category p {
    width: 10%;
    text-align: start;
}

/* 분류(카테고리) */
.review-category select {
    width: 70%;
}



/* 리뷰 글자수 */
.review-content p {
    text-align: end;
    font-size: small;
}

/* 구매위치 제목 */
.location-title {
    display: flex;
    gap: 0.3rem;
}


/* 편의점 위치 글자 */
.location-title p:last-child {
    font-size: 0.8rem;
    color: #d9232d;
    align-content: center;
}

/* 카카오 맵 화면 */
.kakao-map {
    width: 100%;
    height: 250px;
    background-color: gray;
}

/* 리뷰 사진 섹션*/
.image-preview, .image-title {
    display: flex;
    gap: 1rem;
}

.image-preview img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* 대표이미지 */
.is-represent {
    border: 3px solid #d9232d;
}

.stars-taste, .stars-price {
    display: flex;
    gap: 0.7rem;
}

.rating > * {
    align-content: center;
}

.stars i {
    color: #ffc107;
    margin-left: 0.1rem;
    font-size: 1.5rem;
}

/* 모달 */
.btn-productname {
    text-align: end;
}

/* 제품 결과 창 */
.product-search {
    overflow-y: auto;
    text-align: justify;
}

/* 제품 결과 아이템 */
.product-item {
    cursor: pointer;
    border: 1px solid #ADADAD;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s ease 0s;
}

.product-item:hover {
    background-color: #d9232d;
    border: none;
    color: white;
}

/* 사진 첨부 버튼 */
.btn-reviewImage, .btn-deleteAllImage {
    background-color: #D9232D;
    border: none;
    border-radius: 0.4rem;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
}

#review-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-section {
    display: flex;
    justify-content: end;
}

/* 저장 버튼 */
.btn-write {
    padding: 0.5rem 0.9rem;
    border: none;
    border-radius: 10%;
    background-color: #D9232D;
    color: white;
}
