.main {
    padding: 10vh 0;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-title {
    font-size: 2rem;
    font-weight: 900;
}

.main-searchform > input{
    width: 40%;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border: 1px solid #ADADAD;
    border-radius: 0.5rem;
    outline: none;
}

.btn-ProductSearch, .btn-LocationSearch {
    align-content: center;
    cursor: pointer;
}

.main-title {
    text-align: justify;
}

.select-product {
    display: flex;
    gap: 0.4rem;
}

.select-product * {
    width: 12%;
    text-align: start;
}

.select-product > p, .select-product > i {
    align-content: center;
}

.select-product > input {
    width: 70%;
}

.review-category {
    display: none;
}

.review-category p {
    width: 12%;
    text-align: start;
}

.review-category select {
    width: 70%;
}

.category1,
.category2 {
    gap: 0.4rem;
}

.category1 p:first-child, .category2 p:first-child {
    align-content: center;
}

.review-content p {
    text-align: end;
    font-size: small;
}

.location-title {
    display: flex;
    gap: 0.3rem;
}

.location-input,
.productName-input {
    cursor: pointer;
}

.location-title p:last-child {
    font-size: 0.8rem;
    color: #d9232d;
    align-content: center;
}

.kakao-map {
    width: 100%;
    height: 250px;
    background-color: gray;
}

.image-preview, .image-title {
    display: flex;
    gap: 1rem;
}

.image-preview {
    overflow: auto;
}

.image-preview img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.is-represent {
    border: 3px solid #d9232d;
}

.stars-taste, .stars-price {
    display: flex;
    gap: 0.4rem;
}

.stars-taste p, .stars-price p {
    align-content: center;
    width: 6%;
    text-align: start;
}

.rating > * {
    align-content: center;
}

.stars i {
    color: #ffc107;
    margin-left: 0.1rem;
    font-size: 1.5rem;
}

.btn-productname {
    text-align: end;
}

.product-search {
    overflow-y: auto;
    text-align: justify;
    height: 18vh;
}

.product-item {
    cursor: pointer;
    border: 1px solid #ADADAD;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s ease 0s;
}

.no-content span {
    color: #D9232D;
}

.no-content p {
    font-size: 0.8rem;
}

.product-item:hover {
    background-color: #d9232d;
    border: none;
    color: white;
}

.product-item:hover span {
    color: white;
}

.btn-reviewImage, .btn-deleteAllImage {
    background-color: #D9232D;
    border: none;
    border-radius: 0.4rem;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
}

#review-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-section {
    display: flex;
    justify-content: end;
}

.btn-write,
.btn-update {
    padding: 0.5rem 0.9rem;
    border: none;
    border-radius: 10%;
    background-color: #D9232D;
    color: white;
}

.btn-undo {
    padding: 0.5rem 0.9rem;
    border: none;
    border-radius: 10%;
    background-color: gray;
    color: white;
}

.btn-update:disabled {
    background-color: gray;
}

@media screen and (max-width: 1024px) {

    .main-title {
        font-size: 1.7rem;
    }

    .select-product * {
        width: 14%;
        text-align: start;
        font-size: 0.9rem;
    }

    .category1 p:first-child, .category2 p:first-child {
        width: 14%;
    }

    .review-category * {
        font-size: 0.9rem;
    }

    .rating-average-section p {
        font-size: 0.9rem;
        align-content: center;
    }

    .rating-average-section i {
        font-size: 1.2rem;
    }

    .stars-taste p, .stars-price p {
        width: 14%;
    }

    .content-area {
        font-size: 0.9rem;
    }

    .review-location * {
        font-size: 0.9rem;
    }

    .image-section p {
        font-size: 0.9rem;
    }

    .image-title {
        gap: 0.6rem !important;
    }

    .btn-update,
    .btn-undo {
        font-size: 0.9rem;
        padding: 0.4rem 0.6rem;
    }

    .modal-title {
        font-size: 1.1rem;
    }

    .modal-body * {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {

    .main {
        padding: 5vh 0;
    }

    .select-product * {
        width: 10%;
        text-align: start;
        font-size: 0.9rem;
    }

    .category1 p:first-child, .category2 p:first-child {
        width: 10%;
    }

    .stars-taste p, .stars-price p {
        width: 9%;
    }
}

@media screen and (max-width: 425px) {

    .main {
        padding: 5vh 0;
    }

    #review-write,
    #review-section {
        padding: 0 1.3rem !important;
    }

    .main-title {
        font-size: 1.4rem;
    }

    .select-product {
        margin-top: 1rem !important;
    }

    .select-product * {
        font-size: 0.8rem;
        width: 14%;
    }

    .review-category {
        margin-top: 1.3rem !important;
    }

    .review-category * {
        font-size: 0.8rem;
    }

    .category1 p:first-child, .category2 p:first-child {
        width: 14%;
    }

    .rating-average-section {
        margin-top: 1rem !important;
    }

    .rating-average-section p {
        font-size: 0.8rem;
        align-content: center;
    }

    .rating-average-section i {
        font-size: 1.2rem;
    }

    .stars-taste p, .stars-price p {
        width: 14%;
    }

    .review-content {
        margin-top: 1rem !important;
    }

    .content-area {
        font-size: 0.8rem;
    }

    .review-location * {
        font-size: 0.8rem !important;
    }

    .location-final {
        font-size: 0.6rem !important;
    }

    .kakao-map {
        height: 150px;
    }

    .image-section p {
        font-size: 0.8rem !important;
    }

    .image-preview img {
        width: 80px;
        height: 80px;
    }

    .image-title {
        gap: 0.6rem !important;
    }

    .btn-reviewImage, .btn-deleteAllImage {
        font-size: 0.6rem;
    }

    .btn-section {
        margin-top: 1rem;
    }

    .btn-write {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
    }

    .btn-update,
    .btn-undo {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
    }

    .modal-title {
        font-size: 1rem;
    }

    .modal-body * {
        font-size: 0.8rem;
    }

    .modal-body {
        height: 23vh;
    }
}

@media screen and (max-width: 375px) {

    .main-title {
        font-size: 1.3rem;
    }

    .select-product * {
        width: 16%;
    }

    .category1 p:first-child, .category2 p:first-child {
        width: 16%;
    }

    .stars-taste p, .stars-price p {
        width: 16%;
    }
}