<!DOCTYPE html>
<html lang="en">

<!-- <head> 태그 내 공통된 stylesheets 분리 -->
<head th:replace="~{stylesheets/head :: head (title='리뷰 수정')}"></head>

<link href="/assets/css/review-write.css" rel="stylesheet">

<body class="index-page">

<!-- 헤더 레이아웃 분리 -->
<header th:replace="~{layout/header::header}"></header>

<!-- 메인 부분 -->
<main class="main text-center">
  <div class="main-section">
    <div class="container">
      <form id="update-form"
            method="put">
        <div class="row gy-4">
          <div id="review-write" class="col-lg-6">
            <h1 class="main-title">리뷰 수정</h1>
            <div class="select-product mt-4">
              <p>제품 선택</p>
              <input type="text" th:if="${product != null}" th:value="${product.productName}" class="form-control productName-input" name="productName" disabled>
              <input type="hidden" id="productId" th:if="${product != null}" th:value="${product.productId}">
            </div>
            <div class="rating-average-section mt-4">
              <div class="stars-taste">
                <p>맛</p>
                <div id="taste-rating" class="stars" th:data-rating-taste="${review.ratingTaste}">
                  <th:block th:each="num:${#numbers.sequence(1,5)}">
                    <i th:if="${review.ratingTaste >= num}" class="bi bi-star-fill" th:data-index="${num}"></i>
                    <i th:if="${review.ratingTaste > num - 1 and review.ratingTaste < num}" class="bi bi-star-half" th:data-index="${num}"></i>
                    <i th:unless="${review.ratingTaste >= num or review.ratingTaste > num - 1}" class="bi bi-star" th:data-index="${num}"></i>
                  </th:block>
                </div>
              </div>
              <div class="stars-price">
                <p>가격</p>
                <div id="price-rating" class="stars" th:data-rating-price="${review.ratingPrice}">
                  <th:block th:each="num:${#numbers.sequence(1,5)}">
                    <i th:if="${review.ratingPrice >= num}" class="bi bi-star-fill" th:data-index="${num}"></i>
                    <i th:if="${review.ratingPrice > num - 1 and review.ratingPrice < num}" class="bi bi-star-half" th:data-index="${num}"></i>
                    <i th:unless="${review.ratingPrice >= num or review.ratingPrice > num - 1}" class="bi bi-star" th:data-index="${num}"></i>
                  </th:block>
                </div>
              </div>
            </div>
            <div class="review-content mt-4">
              <textarea class="form-control content-area" name="content" placeholder="리뷰를 입력해주세요." maxlength="150" th:text="${review.content}"></textarea>
            </div>
            <div class="review-location mt-4">
              <div class="location-title">
                <p>구매위치</p>
                <p class="location-final" th:text="${review.location}"></p>
              </div>
              <div class="location-input d-flex gap-2">
                <input type="text" class="form-control mt-2 location-input" th:value="${review.location}">
                <i class="fa-solid fa-magnifying-glass btn-LocationSearch"></i>
              </div>
              <div id="map" class="kakao-map mt-2"></div>
              <p class="text-start text-primary">검색 예시) 상동 편의점, 쌍문동 GS25</p>
            </div>
          </div>
          <div id="review-section" class="col-lg-6">
            <div class="image-section">
              <div class="image-title">
                <p>사진첨부</p>
                <label for="review-image">
                  <div class="btn-reviewImage">첨부하기</div>
                </label>
                <div class="btn-deleteAllImage">초기화</div>
                <input type="file" id="review-image" class="d-none" name="reviewImage" multiple>
                <input type="hidden" id="represent-index" name="representIndex" value="-1">
              </div>
              <div class="image-preview mt-2">
                <th:block th:each="reviewImage : ${review.reviewImageList}">
                  <div class="image" th:classappend="${reviewImage.represent} ? 'is-represent'">
                    <img th:src="${reviewImage.reviewImagePath}" th:data-review-image="${reviewImage.reviewImageId}">
                  </div>
                </th:block>
              </div>
              <p class="text-start text-primary">이미지는 최대 5장까지 첨부 가능합니다.</p>
            </div>
            <div class="btn-section gap-2">
              <button type="submit" class="btn-update" disabled>저장</button>
              <button type="button" class="btn-undo">취소</button>
            </div>
          </div>
        </div>
      </form>
      </div>
  </div>
</main>

<!-- footer 레이아웃 분리 -->
<footer th:replace="~{layout/footer::footer}"></footer>

<!-- 공통 script 분리 -->
<div th:replace="~{scripts/scripts::scripts}"></div>

<!-- kakao maps api -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=59f5c92e8da50255a30ef20d44e71dcf&libraries=services"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="module" src="/assets/js/review-update.js"></script>

</body>
</html>