<!DOCTYPE html>
<html lang="en">

<!-- <head> 태그 내 공통된 stylesheets 분리 -->
<head th:replace="~{stylesheets/head :: head (title='리뷰 작성')}"></head>

<link href="/assets/css/review-write.css" rel="stylesheet">

<body class="index-page">

<!-- 헤더 레이아웃 분리 -->
<header th:replace="~{layout/header::header}"></header>

<!-- 메인 부분 -->
<main class="main text-center">
  <div class="main-section">
    <div class="container">
      <form id="write-form"
                method="post">
        <div class="row gy-4">
            <div id="review-write" class="col-lg-6">
              <h1 class="main-title">리뷰 작성</h1>
              <div class="select-product mt-4">
                <p>제품 선택</p>
                <input type="text" th:if="${product != null}" th:value="${product.productName}" class="form-control productName-input" name="productName" disabled>
                <input type="hidden" id="productId" th:if="${product != null}" th:value="${product.productId}">
                <input type="text" th:if="${product == null}" class="form-control productName-input" name="productName" data-bs-toggle="modal" data-bs-target="#search-modal" placeholder="원하는 제품명을 입력해주세요." readonly>
              </div>
              <div class="review-category mt-4">
                <div class="category1 d-flex mb-2">
                  <p>대분류</p>
                  <select id="select-cat1" name="topCategory" class="form-select" aria-label="Default select example">
                    <option value="0" selected>-- 선택 --</option>
                    <option th:each="category : ${categoryList}" th:text="${category.categoryName}" th:value="${category.categoryId}"></option>
                  </select>
                </div>
                <div class="category2 d-flex">
                  <p>중분류</p>
                  <select id="select-cat2" name="subCategory" class="form-select" aria-label="Default select example">
                    <option value="0" selected th:data-parent="0">-- 선택 --</option>
                    <th:block th:each="category : ${categoryList}">
                      <th:block th:each="sub : ${category.subCategoryList}">
                        <option th:text="${sub.categoryName}" th:value="${sub.categoryId}" th:data-parent="${category.categoryId}"></option>
                      </th:block>
                    </th:block>
                  </select>
                </div>
              </div>
              <div class="rating-average-section mt-4">
                <div class="stars-taste">
                  <p>맛</p>
                  <div id="taste-rating" class="stars">
                    <i class="bi bi-star" data-index="1"></i>
                    <i class="bi bi-star" data-index="2"></i>
                    <i class="bi bi-star" data-index="3"></i>
                    <i class="bi bi-star" data-index="4"></i>
                    <i class="bi bi-star" data-index="5"></i>
                  </div>
                </div>
                <div class="stars-price">
                  <p>가격</p>
                  <div id="price-rating" class="stars">
                    <i class="bi bi-star" data-index="1"></i>
                    <i class="bi bi-star" data-index="2"></i>
                    <i class="bi bi-star" data-index="3"></i>
                    <i class="bi bi-star" data-index="4"></i>
                    <i class="bi bi-star" data-index="5"></i>
                  </div>
                </div>
              </div>
              <div class="review-content mt-4">
                <textarea class="form-control content-area" name="content" placeholder="리뷰를 입력해주세요." maxlength="150"></textarea>
              </div>
              <div class="review-location mt-4">
                <div class="location-title">
                  <p>구매위치</p>
                  <p class="location-final no-location">편의점 위치가 지정되지 않았습니다.</p>
                </div>
                <div class="location-input d-flex gap-2">
                  <input type="text" class="form-control mt-2 location-input" name="location" placeholder="편의점 위치를 입력해주세요.">
                  <i class="fa-solid fa-magnifying-glass btn-LocationSearch"></i>
                </div>
                <div id="map" class="kakao-map mt-2"></div>
                <p class="text-start">검색 예시) 상동 편의점, 쌍문동 GS25</p>
              </div>
            </div>
            <div id="review-section" class="col-lg-6">
              <div class="image-section">
                <div class="image-title">
                  <p>사진첨부</p>
                  <label for="review-image">
                    <div class="btn-reviewImage">첨부하기</div>
                  </label>
                  <div class="btn-deleteAllImage">초기화</div>
                  <input type="file" id="review-image" class="d-none" name="reviewImage" multiple>
                  <input type="hidden" id="represent-index" name="representIndex" value="-1">
                </div>
                <div class="image-preview mt-2"></div>
                <p class="text-start text-primary">이미지는 최대 5장까지 첨부 가능합니다.</p>
              </div>
              <div class="btn-section">
                <button type="submit" class="btn-write">저장</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>

  <!-- 제품 검색 모달 -->
  <div class="modal" id="search-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">제품 검색</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" class="form-control" id="product-name" placeholder="제품명을 입력하세요." maxlength="45">
          </div>
          <div class="mb-3 product-search">
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<!-- footer 레이아웃 분리 -->
<footer th:replace="~{layout/footer::footer}"></footer>

<!-- 공통 script 분리 -->
<div th:replace="~{scripts/scripts::scripts}"></div>

<!-- kakao maps api -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=59f5c92e8da50255a30ef20d44e71dcf&libraries=services"></script>

<script src="/assets/js/review-write.js"></script>

</body>
</html>