<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

  <!--
  ********************************
  * 파일명    : header.html
  * 작성자    : audrey
  * 작성일    : 2025-02-03
  * 설명      : header 레이아웃 분리
  * 사용법    : <header th:replace="~{layout/header::header}"></header>
  * 수정 이력 :
  *   - 2025-02-03: 최초 작성
  ********************************
  -->

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a th:href="@{/index.page}" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">Snackpick</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a th:href="@{/member/index.page}" class="active">홈</a></li>
<!--          <li><a href="services.html">스낵픽이란?</a></li>-->
          <li><a th:href="@{/review/reviewWrite.page}">리뷰 작성</a></li>
          <li><a th:href="@{/product/product.page}">리뷰 조회</a></li>
          <li th:if="${#authorization.expression('isAuthenticated()')}" class="d-flex" style="font-size: 15px; color: #556270;">
            <p th:text="${#authentication.principal.nickname}"></p>님 환영합니다.
            <input type="hidden" class="login-id" th:value="${#authentication.principal.memberId}">
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a th:if="${#authorization.expression('isAnonymous()')}" class="btn-getstarted" th:href="@{/member/login.page}">로그인</a>
      <a th:if="${#authorization.expression('isAuthenticated()')}" class="btn-getstarted" th:href="@{/member/logout}">로그아웃</a>

    </div>
  </header>
</html>