<!DOCTYPE html>
<html lang="en">
  <!-- <head> 태그 내 공통된 stylesheets 분리 -->
  <head th:replace="~{stylesheets/head :: head (title='회원가입')}"></head>

  <link href="/assets/css/signup.css" rel="stylesheet">

  <body class="index-page">

  <!-- 헤더 레이아웃 분리 -->
  <header th:replace="~{layout/header::header}"></header>

  <main class="main text-center">
    <h1>회원가입</h1>
    <section id="comment-form" class="comment-form section register-form">
      <div class="container">
        <form id="signup-form"
              class="p-5"
              enctype="multipart/form-data">
          <div class="row">
            <div class="col form-group">
              <p>아이디</p>
              <input id="id" name="id" type="text" class="form-control" placeholder="아이디를 입력해주세요." maxlength="12">
              <button class="btn-checkId" type="button">중복확인</button>
              <label for="id"></label>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <p>비밀번호</p>
              <input id="password" name="password" type="password" class="form-control" placeholder="비밀번호를 입력해주세요." maxlength="16">
              <label for="password"></label>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <p>이름</p>
              <input id="name" name="name" type="text" class="form-control" placeholder="이름을 입력해주세요." maxlength="20">
              <label for="name"></label>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <p>닉네임</p>
              <input id="nickname" name="nickname" type="text" class="form-control" placeholder="닉네임을 입력해주세요." maxlength="20">
              <label for="nickname"></label>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <p>프로필사진</p>
              <input id="profileImage" name="files" type="file" class="form-control" placeholder="프로필사진을 선택해주세요.">
            </div>
          </div>
          <div class="row profile-section">
            <div id="image-preview"></div>
            <div class="image-content">
              <p class="mb-1">프로필 이미지는 5MB까지 업로드 가능합니다.</p>
              <button type="button" class="btn-delete">초기화</button>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-signup">가입하기</button>
          </div>
        </form>
      </div>
    </section>
  </main>

  <!-- footer 레이아웃 분리 -->
  <footer th:replace="~{layout/footer::footer}"></footer>

  <!-- 공통 script 분리 -->
  <div th:replace="~{scripts/scripts::scripts}"></div>

  <script src="/assets/js/signup.js"></script>

  </body>
</html>