<!DOCTYPE html>
<html lang="en">

  <!-- <head> 태그 내 공통된 stylesheets 분리 -->
  <head th:replace="~{stylesheets/head :: head (title='snackpick 사이트에 오신것을 환영합니다.')}"></head>

  <link href="/assets/css/index.css" rel="stylesheet">

  <body class="index-page">

    <!-- 헤더 레이아웃 분리 -->
    <header th:replace="~{layout/header::header}"></header>

    <!-- 메인 부분 -->
    <main class="main text-center">
      <div class="main-section">
        <p class="main-title">한눈에 보는 리뷰들</p>
      </div>
    </main>

    <!-- footer 레이아웃 분리 -->
    <footer th:replace="~{layout/footer::footer}"></footer>

    <!-- 공통 script 분리 -->
    <div th:replace="~{scripts/scripts::scripts}"></div>

  </body>
</html>